<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>修改老师用户密码</title>

    <link th:href="@{/sources/css/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/sources/css/bootstrapValidator.css}"/>
    <link th:href="@{/sources/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/sources/css/style.min.css}" rel="stylesheet">

    <script th:src="@{/sources/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/main.min.js}"></script>
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:insert="/admin/admin_index::admin_side"></div>
        <!--End 左侧导航-->

        <!--头部信息-->
        <div th:insert="/admin/admin_index::admin_header"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header text-center">
                                    <h1>修改老师用户密码</h1>
                                </div>
                                <div>
                                    <form id="updateTeaPwd" name="updateTeaPwd" method="post" th:action="@{/admin/update/teacherPwd}" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-1" for="teacherAccount">老师账号</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" name="teacherAccount" id="teacherAccount" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-1 control-label" for="newPassword">新密码</label>
                                            <div class="col-md-7">
                                                <input type="password" class="form-control" name="newPassword" id="newPassword" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-1 control-label" for="confirmPassword">确认密码</label>
                                            <div class="col-md-7">
                                                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" />
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary col-md-offset-4" id="updateBtn" onclick="{if(confirm('您确定要修改密码吗?')){
                                            this.document.updateTeaPwd.submit();
                                            return true;}return false;
                                        }">修改信息</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</div>
<script type="text/javascript">
    $(function () {
        $("#updateTeaPwd").bootstrapValidator({
            message: 'This value is not valid',
            live: 'enable',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
            excluded: [':disabled', ':hidden'],//排除无需验证的控件，比如被禁用的或者被隐藏的
            //提供输入验证图标提示
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                teacherAccount: {
                    threshold:  3 , //有3字符以上才发送ajax请求，（input中输入一个字符，插件会向服务器发送一次，设置限制，6字符以上才开始）
                    validators: {
                        notEmpty: {
                            message: '账号名不能为空'
                        },
                        //实用ajax判断原密码是否正确
                        remote: {
                            url: '/admin/teacher/check',
                            message: "该账号不存在",
                            delay: 1300,
                            type: 'POST'
                        }
                    }
                },
                newPassword: {
                    enabled: false,
                    validators: {
                        notEmpty: {
                            message: '新密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '新密码长度必须在6到12位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '密码只能包含大写、小写、数字和下划线'
                        },
                        identical: {
                            field: 'confirmPassword',
                            message: '两次输入的密码不一致'
                        },
                        different: {
                            field: 'oldPassword',
                            message: '新密码不能与原密码相同'
                        }
                    }
                },
                confirmPassword: {
                    validators: {
                        notEmpty: {
                            message: '确认密码不能为空'
                        },
                        identical: {
                            field: 'newPassword',
                            message: '两次输入的密码不一致'
                        }
                    }
                }
            },
        });
        $("#updateTeaPwd").find('[name="teacherAccount"]').on('keyup', function() {
            $("#updateTeaPwd").bootstrapValidator('enableFieldValidators', 'teacherAccount')
        });
        //如果密码不为空，则启用密码/确认密码验证器
        $("#updateTeaPwd").find('[name="newPassword"]').on('keyup', function() {
            var isEmpty = $(this).val() == '';
            $("#updateTeaPwd").bootstrapValidator('enableFieldValidators', 'teacherAccount', !isEmpty)
                .bootstrapValidator('enableFieldValidators', 'newPassword', !isEmpty)
                .bootstrapValidator('enableFieldValidators', 'confirmPassword', !isEmpty);
            if ($(this).val().length == 6) {
                $("#updateTeaPwd").bootstrapValidator('validateField', 'newPassword')
                    .bootstrapValidator('validateField', 'confirmPassword');
            }
        });
    });
</script>
</body>
</html>
