<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>管理员职位信息</title>

    <link th:href="@{/sources/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/sources/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/sources/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/sources/css/bootstrap-table.min.css}" rel="stylesheet"/>

    <script th:src="@{/sources/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/sources/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/sources/js/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/main.min.js}"></script>
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:insert="/admin/admin_index::admin_side"></div>
        <!--End 左侧导航-->

        <!--头部信息-->
        <div th:insert="/admin/admin_index::admin_header"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" th:if="${positionList.isEmpty()}">
                            <div class="card-body">
                                <h2>当前还没有企业用户发布职位信息，请耐心等待！<span class="mdi mdi-rocket"></span><span class="mdi mdi-rocket"></span><span class="mdi mdi-rocket"></span></h2>
                            </div>
                        </div>
                        <div class="card" th:if="!${positionList.isEmpty()}">
                            <div class="card-toolbar clearfix">
                                <div class="toolbar-btn-action">
                                    <h2>所有职位信息：</h2>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="positionInfo">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>职位id</th>
                                            <th>职位名称</th>
                                            <th>所属企业</th>
                                            <th>职位城市</th>
                                            <th>发布时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="position,positionStat:${positionList}">
                                            <td>[[${positionStat.count}]]</td>
                                            <td>[[${position.positionId}]]</td>
                                            <td>[[${position.positionName}]]</td>
                                            <td>[[${position.company.companyName}]]</td>
                                            <td>[[${position.positionCity}]]</td>
                                            <td>[[${#dates.format(position.positionRelease,'yyyy-MM-dd HH:mm')}]]</td>
                                            <td> [[${position.positionStatus}==1 ? '待审核' : (${position.positionStatus}==2 ? '已通过': '不通过')]]</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" th:href="@{'/admin/update/position/' + ${position.positionId}}" title="编辑"  data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                                    <a class="btn btn-xs btn-default" th:href="@{'/admin/search/position/' + ${position.positionId}}" title="查看" data-toggle="tooltip"><i class="mdi mdi-eye"></i></a>
                                                    <a class="btn btn-xs btn-default" th:href="@{'/admin/delete/position/' + ${position.positionId}}" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                                                    <a th:if="${position.positionStatus == '1'}" class="btn btn-xs btn-default" th:href="@{'/admin/audit/position/' + ${position.positionId}}" title="审核"  data-toggle="tooltip">审核</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</div>
<script type="text/javascript">
    $(function(){
        if (!('ontouchstart' in document.documentElement)) {
            $('body').tooltip({selector: '[data-toggle="tooltip"]'});
        };
        $("#positionInfo").bootstrapTable({
            striped : true, //是否显示行间隔色
            pageNumber : 1, //初始化加载第一页
            pagination : true,//是否分页
            sidePagination : 'client',//server:服务器端分页|client：前端分页
            pageSize : 5,//单页记录数
            search: true,
            pageList : [ 5, 10],//可选择单页记录数
            showRefresh : true,//刷新按钮

        })
    });
</script>
</body>
</html>
