<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>企业用户添加</title>

    <link th:href="@{/sources/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/sources/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/sources/css/style.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/sources/css/bootstrapValidator.css}"/>

    <script th:src="@{/sources/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/sources/js/main.min.js}"></script>
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:insert="/admin/admin_index::admin_side"></div>
        <!--End 左侧导航-->

        <!--头部信息-->
        <div th:insert="/admin/admin_index::admin_header"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <form id="addComInfo" name="addComInfo" method="post" th:action="@{/company/add}" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyAccount">用户名：</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="companyAccount"
                                                       name="companyAccount"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyPassword">密码：</label>
                                            <div class="col-lg-7">
                                                <input type="password" class="form-control" id="companyPassword"
                                                       name="companyPassword"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyNo">单位号：</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="companyNo" name="companyNo"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyName">企业名称：</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="companyName"
                                                       name="companyName"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyContact">联系人：</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="companyContact"
                                                       name="companyContact"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyPhone">电话：</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="companyPhone"
                                                       name="companyPhone"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyEmail">企业邮箱：</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="companyEmail"
                                                       name="companyEmail"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyCode">机构代码：</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="companyCode"
                                                       name="companyCode"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyAddress">企业地址：</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="companyAddress"
                                                       name="companyAddress"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="companyDescribe">企业简介：</label>
                                            <div class="col-lg-7">
                                            <textarea rows="5" class="form-control" id="companyDescribe"
                                                      name="companyDescribe"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-9 col-lg-offset-3">
                                                <button type="submit" class="btn btn-primary col-md-offset-4" id="updateBtn"
                                                        onclick="{if(confirm('您确定要添加吗?')){
                                            this.document.addComInfo.submit();
                                            return true;}return false;
                                        }">添 加
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</div>
<script>
    $(function () {
        $('#addComInfo').bootstrapValidator({
            message: 'This value is not valid',
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                companyAccount: {
                    threshold: 5, //有5字符以上才发送ajax请求，（input中输入一个字符，插件会向服务器发送一次，设置限制，5字符以上才开始）
                    validators: {
                        notEmpty: {
                            message: '注册用户名不能为空'
                        },
                        stringLength: {
                            min: 5,
                            max: 12,
                            message: '用户名长度必须在5到12位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '密码只能包含大写、小写、数字和下划线'
                        },
                        remote: {
                            url: "/company/check",
                            message: "用户名已被使用，请重新输入",
                            delay: 1300,
                            type: 'POST',
                        }
                    }
                },

                companyPassword: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '密码长度必须在6到12位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '密码只能包含大写、小写、数字和下划线'
                        }
                    }
                },
                companyName: {
                    validators: {
                        notEmpty: {
                            message: '企业名称不能为空'
                        },
                    }
                },
                companyEmail: {
                    validators: {
                        emailAddress: {
                            message: '请输入正确的邮箱地址'
                        },
                    }
                }
            }
        })
    })
</script>
</body>
</html>
