<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yiplatform.mapper.VaccinationRecordMapper">

    <resultMap id="BaseResultMap" type="cn.yiplatform.entity.VaccinationRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="vaccine" column="vaccine" jdbcType="VARCHAR"/>
            <result property="dose" column="dose" jdbcType="INTEGER"/>
            <result property="inoculationDate" column="inoculation_date" jdbcType="TIMESTAMP"/>
            <result property="lot" column="lot" jdbcType="VARCHAR"/>
            <result property="manufacture" column="manufacture" jdbcType="VARCHAR"/>
            <result property="clinic" column="clinic" jdbcType="VARCHAR"/>
            <result property="submitTime" column="submit_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,code,
        vaccine,dose,inoculation_date,
        lot,manufacture,clinic,submit_time
    </sql>
    <select id="selectAllByIds" resultMap="BaseResultMap">
        select *
        from vaccination_record join user
        on vaccination_record.uid = user.id
        where user.id in
        <if test="idList != null">
            <foreach close=")" collection="idList" item="id" open="("
                     separator=",">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from vaccination_record join user
        on vaccination_record.uid = user.id
    </select>

    <select id="selectAllLikeAccount" resultMap="BaseResultMap">
        select *
        from vaccination_record join user
        on vaccination_record.uid = user.id
        where account like #{account}
    </select>
    <select id="selectAllByAccountAndCreateTimeBetween" resultMap="BaseResultMap">
        select *
        from vaccination_record join user
        on vaccination_record.uid = user.id
        where user.id in
        <if test="idList != null">
            <foreach close=")" collection="idList" item="id" open="("
                     separator=",">
                #{id}
            </foreach>
        </if>
        AND submit_time between #{beginCreateTime} and #{endCreateTime}
    </select>
    <select id="selectAllByWrappers" resultMap="BaseResultMap">
        select *
        from vaccination_record join user
        on vaccination_record.uid = user.id
        where 1 = 1
        <if test="idList != null and idList.size() > 0">
            and user.id in
            <foreach close=")" collection="idList" item="id" open="("
                     separator=",">
                #{id}
            </foreach>
        </if>
        <if test="beginSubmitTime != null and endSubmitTime != null">
            AND submit_time between #{beginSubmitTime} and #{endSubmitTime}
        </if>
        <if test="account != null">
            AND account like #{account}
        </if>
        order by user.user_name, submit_time desc
    </select>
</mapper>
