# Default ignored files
/../../../:sewage/.idea/shelf/
/../../../:sewage/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:sewage/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:sewage/.idea/dataSources/
/../../../:sewage/.idea/dataSources.local.xml
